.mainContainer {
    /* width: 550px; */
    padding-left: 40px;
    gap: 10px;
    display: flex;
    flex-direction: row;
}

.basicdetails {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* height: 500%; */
}

.cityfeild {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.postal {
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: 600;
    font-size: 20px;
}

.keycontainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* height: 500%; */
}

.addbtn {
    float: right;
}

.listingcontainer {
    margin-top: 20px
}

.filediv {
    /* background-color: aqua; */
    width: 500px;
    padding-left: 60px;
}

.productpage {
    padding-left: 100px;
    padding-top: 30px;
    gap: 20px
}

.backfinishbtn {

    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-top: 40px;
}